In [1]:
import numpy as np
import pandas as pd
data = {"Team": ["Red Sox", "Red Sox", "Red Sox", "Red Sox", "Red Sox", "Red Sox", "Yankees", "Yankees", "Yankees", "Yankees", "Yankees", "Yankees"],
        "Pos": ["Pitcher", "Pitcher", "Pitcher", "Not Pitcher", "Not Pitcher", "Not Pitcher", "Pitcher", "Pitcher", "Pitcher", "Not Pitcher", "Not Pitcher", "Not Pitcher"],
        "Age": [24, 28, 40, 22, 29, 33, 31, 26, 21, 36, 25, 31]}
df = pd.DataFrame(data)
print(df)

       Team          Pos  Age
0   Red Sox      Pitcher   24
1   Red Sox      Pitcher   28
2   Red Sox      Pitcher   40
3   Red Sox  Not Pitcher   22
4   Red Sox  Not Pitcher   29
5   Red Sox  Not Pitcher   33
6   Yankees      Pitcher   31
7   Yankees      Pitcher   26
8   Yankees      Pitcher   21
9   Yankees  Not Pitcher   36
10  Yankees  Not Pitcher   25
11  Yankees  Not Pitcher   31

In [29]:
df.groupby(['Team','Pos']).mean()

                           Age
Team    Pos
Red Sox Not Pitcher  28.000000
        Pitcher      30.666667
Yankees Not Pitcher  30.666667
        Pitcher      26.000000

In [30]:
df.groupby(['Team','Pos']).mean()['Age']

Team     Pos
Red Sox  Not Pitcher    28.000000
         Pitcher        30.666667
Yankees  Not Pitcher    30.666667
         Pitcher        26.000000
Name: Age, dtype: float64

In [31]:
df.groupby(['Team','Pos']).mean()['Age'].index

MultiIndex([('Red Sox', 'Not Pitcher'),
            ('Red Sox',     'Pitcher'),
            ('Yankees', 'Not Pitcher'),
            ('Yankees',     'Pitcher')],
           names=['Team', 'Pos'])

In [32]:
df.groupby(['Team','Pos']).mean()['Age'].values

array([28.        , 30.66666667, 30.66666667, 26.        ])

In [33]:
df.groupby(['Team','Pos']).groups

{('Red Sox', 'Not Pitcher'): [3, 4, 5], ('Red Sox', 'Pitcher'): [0, 1, 2], ('Yankees', 'Not Pitcher'): [9, 10, 11], ('Yankees', 'Pitcher'): [6, 7, 8]}

In [27]:
df.groupby(['Team','Pos'])['Age'].groups

{('Red Sox', 'Not Pitcher'): [3, 4, 5], ('Red Sox', 'Pitcher'): [0, 1, 2], ('Yankees', 'Not Pitcher'): [9, 10, 11], ('Yankees', 'Pitcher'): [6, 7, 8]}

In [35]:
grouped_single = df.groupby('Team').agg({'Age': ['mean', 'min', 'max']})
grouped_single

               Age
              mean min max
Team
Red Sox  29.333333  22  40
Yankees  28.333333  21  36

In [3]:
def isPrime(n):
    
    if n <=1 : return False
    import math
    end = int(math.sqrt(n))
    
    for i in range(2 , end + 1):
        if n% i == 0:
            return False
    return True

for i in range( 3,91,2):
    if isPrime(i) and isPrime(i+36) and isPrime(64 -(2*i)):
        print( i , i+36, 64-(2*i))

31 67 2

In [ ]:
11 47